In [1]:
import cv2

In [9]:
img=cv2.imread(r"C:\Users\Akshay\Desktop\Semester 3\Deep Learning\Assignment\Assignment 1\Data\modified_data\face_1.jpg",1)

In [10]:
img.shape

(144, 192, 3)

In [16]:
cv2.imshow("face1",img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [54]:
resized_img=cv2.resize(img,(int(img.shape[1]*2),int(img.shape[0]*2)))

In [55]:
cv2.imshow("face1",resized_img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [56]:
resized_img.shape

(288, 384, 3)

In [57]:
int(img.shape[1])

192

In [66]:
face_cascade=cv2.CascadeClassifier("haarcascade_frontalface_dafault.xml")

In [67]:
gray_image=cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)

In [68]:
faces=face_cascade.detectMultiScale(gray_image,scaleFactor=1.05,minNeighbors=5)

error: OpenCV(4.2.0) C:\projects\opencv-python\opencv\modules\objdetect\src\cascadedetect.cpp:1689: error: (-215:Assertion failed) !empty() in function 'cv::CascadeClassifier::detectMultiScale'

In [69]:
import tensorflow as tf
AUTOTUNE = tf.data.experimental.AUTOTUNE
import IPython.display as display
from PIL import Image
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd
tf.__version__
from PIL import Image
import glob

from sklearn.metrics import confusion_matrix,classification_report
from tensorflow.keras.models import Sequential, Model 
from tensorflow.keras.layers import Conv2D, MaxPooling2D
from tensorflow.keras.layers import Activation, Dropout, Flatten, Dense, Input
from tensorflow.keras import regularizers, optimizers
from tensorflow.keras.metrics import categorical_accuracy
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.preprocessing.image import ImageDataGenerator


from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Lambda, Input
from tensorflow.keras.layers import Activation, Dropout, Flatten, Dense
from tensorflow.keras.metrics import categorical_accuracy
from tensorflow.keras import regularizers, optimizers
from tensorflow.keras.layers import BatchNormalization

C:\Users\Akshay\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Akshay\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [74]:
raw_train = pd.read_csv(r"C:\Users\Akshay\Desktop\Semester 3\Deep Learning\Assignment\Assignment 1\Data\train_data.csv")

In [78]:
raw_train.head()

                           filename  person_id  series  tilt  pan
0   Data\modified_data\face_790.jpg          5       1   -15   30
1  Data\modified_data\face_2445.jpg          5       1     0  -75
2  Data\modified_data\face_2266.jpg          5       2   -15  -60
3  Data\modified_data\face_2713.jpg          5       2     0  -90
4  Data\modified_data\face_2016.jpg          5       2    15  -75

In [77]:
raw_train['filename']="Data\modified_data\\"+raw_train['filename']

In [79]:
raw_train['tilt'].value_counts()

 15    325
-15    325
 60    325
-60    325
 30    325
-30    325
 0     325
 90     25
-90     25
Name: tilt, dtype: int64

In [80]:
pd.crosstab(raw_train['tilt'],raw_train['pan'])

pan   -90  -75  -60  -45  -30  -15   0    15   30   45   60   75   90
tilt
-90     0    0    0    0    0    0   25    0    0    0    0    0    0
-60    25   25   25   25   25   25   25   25   25   25   25   25   25
-30    25   25   25   25   25   25   25   25   25   25   25   25   25
-15    25   25   25   25   25   25   25   25   25   25   25   25   25
 0     25   25   25   25   25   25   25   25   25   25   25   25   25
 15    25   25   25   25   25   25   25   25   25   25   25   25   25
 30    25   25   25   25   25   25   25   25   25   25   25   25   25
 60    25   25   25   25   25   25   25   25   25   25   25   25   25
 90     0    0    0    0    0    0   25    0    0    0    0    0    0

In [87]:
raw_train.loc[raw_train['tilt']==60]

                              filename  person_id  series  tilt  pan
24    Data\modified_data\face_1603.jpg          5       2    60  -15
28     Data\modified_data\face_173.jpg          5       1    60   75
34    Data\modified_data\face_1813.jpg          5       1    60   60
35    Data\modified_data\face_2193.jpg          5       2    60   30
55     Data\modified_data\face_215.jpg          5       1    60   30
...                                ...        ...     ...   ...  ...
2274  Data\modified_data\face_1510.jpg         15       2    60    0
2285  Data\modified_data\face_1979.jpg         15       1    60   75
2287  Data\modified_data\face_2365.jpg         15       2    60  -15
2304  Data\modified_data\face_1395.jpg         15       1    60   60
2305   Data\modified_data\face_537.jpg         15       2    60   30

[325 rows x 5 columns]